body, body *{
    background-color: #f8f8f8;
    display: block;
    text-align: center;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

footer{
    background-color: #4a4a4a;
    font-size: 18px;
}

footer h3{
    font-size: 22px;
}

h1{
    font-family: 'Merienda', cursive;
    font-size: 48px;
    color: #c24595;
}

h2{
    font-family: 'Merienda', cursive;
    font-size: 36px;
}

nav{
    font-family: "Marck Script", cursive;
    color: white;
}

@media all and (min-width: 768px) and (min-device-width : 500px) {

	body {
		max-width: 1200px;
		margin : 0 auto;
	}
}