*{
    background-color: #f4f5ff;
    display: block;
    text-align: center;
    font-family: Arial;
}

footer{
    background-color: #4a4a4a;
    font-size: 18em;
}

footer h3{
    font-size: 22em;
}

h1{
    font-size: 48em;
    color: #c24595;
}

h2{
    font-size: 36em;
}

nav{
    font-family: "Matura MT Script Capit";
    color: white;
}