#worldIsWonderful img{
    width: 90%;
    display: initial;
    margin-top: 5px;
    margin-bottom: 5px;
}

#worldIsWonderful div{
    margin-bottom: 50px;
    margin-top: 20px;
}

#worldIsWonderful h3{
    font-family: 'Brush Script MT','Merienda', 'Arial';
    font-size: 2.8em;
}

#worldIsWonderful h2{
    margin-bottom: 30px;
}

@media all and (min-width: 768px) and (min-device-width : 500px) {

    body {
        max-width: 1200px;
        margin : 0 auto;
    }
    
    #worldIsWonderful img{
        max-width: 25%;
        }

}